# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments & IDE
.vscode/
.idea/
.venv/
env/
venv/

# App local runtime files
.drive_browser/
*.tmp
*.log
.pytest_cache/
SystemAnalyzer.txt
